{% extends 'base.html' %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <p></p><h1>Already a memember?</h1></p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Log in &raquo;</a></p>
          <p></p><h1>Like to join us?</h1></p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Register &raquo;</a></p>
      </div>
    </div>
{% endblock %}